<ng-container *ngIf="selectedIsbn">
  <h2>{{getTitle()}} の詳細</h2>
  <table>
    <thead>
    <tr>
      <th>シリアル番号</th>
      <th>貸し出し状況</th>
      <th>貸出日</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bookDetail of selectedBookDetail">
      <td>{{bookDetail.serial}}</td>
      <td>{{bookDetail.status}}</td>
      <td>{{bookDetail.rentalDate | date:'yyyy-MM-dd'}}</td>
      <td><a (click)="delete(bookDetail)">削除</a></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4" (click)="showRegister()">シリアル番号を登録する<span class="triangle"></span></td>
    </tr>
    <tr *ngIf="registerForm">
      <td colspan="3"><input type="text" [(ngModel)]="registerBookDetail.serial"></td>
      <td><input type="button" value="追加" (click)="doRegister()"></td>
    </tr>
    </tfoot>
  </table>
</ng-container>
